<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>RIO ZONDRI NEHE</title>
		<style>
			body {
				padding: 0;
				margin: 0;
				font-family:
					"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<h1>RIO ZONDRI NEHE</h1>
	</body>
</html>
